* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16pt;
  }
  body {
    background-color: #ffffff;    
  }
  .left-block {    
    background-color: #4A4E4D;          
    color: #F6CD61;
    padding: 5px;   
  }
  .avatar {           
    width: 100%;
    height: 22%;    
  }
  .main-block {
    display: flex;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;    
  }
  .main-content {    
    color: #464646;
    border-left: 2px solid #FE8A71;
    display: flex;
  }
  .skills {
    margin-top: 60px;    
    margin-right: 40px;
  }
  .li-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #3DA4AB;
    margin-left: 20px;    
  }

.li-item-text {
    color: #F6CD61;
}
.text-left-block {
    margin-left:  5px;
}
.header-left-block {
    color: #FE8A71;
}
.about-me {
    padding-left: 90px;
    display: block;
}
.fio {
    font-size: 50px;
    margin: 25px;
}
.about-me-title {    
    font-size: 25px;
}
.footer {
     display: flex;     
     width: 1000px;
     margin-left: auto;
     margin-right: auto;     
}
.logo {       
    width: 10%;
    height: 10%;
}
.example-code {
    font-size: 14px;
}
.about-me-title {
    margin-top: 20px;
    background: #0E9AA7;
}
.position {
    font-size: 18px;
    color: #FE8A71;
    font-weight: bold;
}
.company {
    font-weight: bold;
    font-size: 18px;
}
.li-item-work-details {
margin-left: 30px;
}
.li-item-work {
    margin-left: 20px;
}
.univer {
    font-weight: bold;
    font-size: 18px;
}
.li-contacts {
    list-style-type: none;
}
.time {
    margin-left: auto;
    margin-top: auto;
}